<div class="page_header_margin_bottom_50px">
  <h1 class="page_title"><%= @taxon.name %>一覧</h1>
</div>
<%= render 'shared/side_bar', taxons: @all_taxons %>
<%= render 'shared/works_index', works: @works %>
