.page_header_margin_bottom_50px
  h1.page_title
    | 業務一覧
.wrap
  .side
    = render 'shared/side_bar', taxons: @all_taxons
  div
    = render 'shared/search_results'
    .search_form
      = form_with url: search_work_path, method: :get, local: true do |f|
        = f.text_field :keyword, placeholder: "キーワードを入力"
        = f.submit :検索
    = render 'shared/works_index', works: @works
