<div class="page_header_margin_bottom_20px">
  <h1 class="page_title">業務</h1>
</div>
<div class="vertically_aligned_and_centered">
  <h2>新規登録</h2>
  <%= render "shared/error", obj: @work %>
</div>
<%= render 'works/registration_form', work:@work %>
