<div class="validation_error_message_area">
  <% if obj.errors.any? %>
    <% obj.errors.full_messages.each do |message| %>
      <ul class="validation_error_message">
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>
</div>
