<div id="side_bar">
  <div class="side_bar_title">カテゴリ</div>
  <div class="side_bar_link">
    <ul>
      <li>
        <%= link_to works_path do %>
          全業務
        <% end %>
      </li>
      <% taxons.each do |taxon| %>
        <li>
          <%= link_to taxon_path(taxon.id), id: "taxon_#{taxon.id}" do %>
            <%= taxon.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
