= form_with url: tables_path, method: :post, local: true do |f|
  .page_header_margin_bottom_20px
    h1.page_title
      | 作業割当
  .vertically_aligned_and_centered
    .sample_data_link_area
      = link_to "サンプルデータを呼び出す", { call_sample: true }, class: "green_button", id: "set_sample_data_tables", data: {"turbolinks" => false}
    h2
      | 新規作成
    h3.margin_top_0
      = f.label :title ,"タイトル"
      | ：
      = f.text_field :title
      | 　
      = f.hidden_field :cells_length, value: 5
      = f.submit "保存", id: "submit_save"
  = render 'tables/form', f: f
