.logo{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;
}

.logo_icon{
  height: 40px;
}

.logo_text {
  height: 50px;
}

.site-header {
  position: relative;
  background-color: #54c3b4;
  margin-bottom: 50px;
}

.nav__item{
  padding: 1rem;
  font-size: large;
  transition: all 0.2s;
}

.nav__item:hover {
  transform: scale(1.3, 1.3);
}

.nav__item a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 600px) {
  .site-header__wrapper {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .nav__wrapper {
    display: inline-flex;
    list-style: none;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    right: 0;
    left: 0;
    background-color: #45a599;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    list-style: none;
  }
  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav__item{
    padding-bottom: 10px;
    font-size: large;
    opacity: 0.3;
  }
  .nav__item:hover {
    opacity: 1;
    transform: none;
  }
}

.nav__toggle {
  display: none;
}

@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
}

.rightside{
  z-index: 1;
  position: absolute;
  right: 0;
  padding-top: 1em;
  padding-right: 1em;
}

.sign_in_link{
  color: white;
  text-decoration: none;
  border: solid;
  border-color: white;
  border-radius: 8px;
  padding: 0.5em;
}

.sign_in_link:hover {
  opacity: 0.7;
  }

@media (max-width: 809px) {
  .rightside{
    top: 90px;
  }
  .sign_in_link{
    color: #54c3b4;
    border-color: #54c3b4;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  height: 120px;
  padding-top: 90px;
  margin-top: 80px;
  background-color: #54c3b4;
  color: #ffffff;
  text-align: center;
}

.centered{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vertically_aligned_and_centered{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
}

.margin_top_0{
  margin-top: 0;
}

.search_form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.new_button{
  color: #fff;
  background-color: #2e90fa;
  border-color: #2e90fa;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  margin-left: 5px;
  text-decoration: none;
}

table th {
  background-color: #5eccad;
  padding: 10px 20px;
}

table td {
  background-color: #e0f0eb;
  padding: 10px 20px;
  text-align: center;
}

.search_results {
  background-color: #ccf;
}

.notice {
  background-color: #3cb371;
  color: white;
  text-align: center;
  margin: 0;
}

.alert {
  background-color: #ff69b4;
  color: white;
  text-align: center;
}

.sagyouwariate{
  width: 95%;
}

.text_field{
  width: 100%;
}

.immutable_color_link{
  color: blue;
}

.table_bottom{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.page_header{
  display: flex;
  justify-content: center;
  background-color: #e0f0eb;
  margin-bottom: 50px;
}

.page_title{
  color: #4ca58c;
  margin-left: 2em;
}

#left {
  color:#676767;
  font-size:13px;
  width:250px;
  float:left;
  margin-left: 5%;
}

.left-title {
  margin:0 15px 0 20px;
  padding:7px 20px;
  font-size: 25px;
  font-weight:bold;
  background-color:#E3E3E3;
  color:#333;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
}

.link {
  margin:0 15px 7px 20px;
  padding:7px 8px 7px 13px;
  font-size: 20px;
  line-height:170%;
  border: 1px solid #c7c7c7;
}

.link a{
color:#094a94;
text-decoration:none;
}

.link a:hover{
text-decoration:underline;
}
